{% extends 'base.html' %}

{% block title_content %}
Edit post
{% endblock %}

{% block content %}
<div class="container col-md-4">
    <div class="">
        <form action="" method="POST">
            {{ form.csrf_token() }}
            <div class="form-group">
                <label>{{ form.title.label }}</label>
                {{ form.title(class="form-control") }}
            </div>

            <div class="form-group">
                <label>{{ form.tags.label }}</label> <br>

                <div class="card" style="width: 21.2rem;">
                    <ul class="list-group list-group-flush">
                    {% for tag in tags %}
                        <li class="list-group-item">
                            <a href="#" class="">{{ tag.title }}</a>
<!--                            <button type="button" class="btn btn-outline-danger">Опасность</button>-->
                            <a href="{{ url_for('posts.delete_tag', id=id, slug=slug, tag_id=tag.id) }}">
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <input type="text" placeholder="New tags" name="tags" class="form-control mt-2">
            </div>

            <div class="form-group">
                <label>{{ form.body.label }}</label>
                {{ form.body(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}